/* @import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500&display=swap"); */
.container-main {
  font-family: "Mulish", sans-serif;
  font-size: 12px;
}
.clearfix:after {
  content: "";
  clear: both;
  display: table;
}
h1 {
  font-size: 26px;
  padding-bottom: 12px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
body {
  font-family: "Mulish", sans-serif;
}
.fb {
  font-weight: bold;
}

.header-1 {
  height: 85px;
}
header {
  background-color: #7dd9e8;
}
.logo {
  padding-top: 19px;
  margin-right: 23px;
}
.nav-bar {
  background-color: #f5f5f5;
  padding: 10px 10px;
}
.middle-container {
  width: 518px;
  margin-left: 25px;
}
.search-section {
  background: url(../images/searchbar.png) no-repeat right top;
  width: 237px;
}
.reset {
  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
}
#input {
  width: 232px;
  height: 20px;
  font-size: 10px;
}
.search-icon {
  background: url(../images/lens.png);
  height: 20px;
  width: 15px;
  margin-left: 1px;
}

.curve-2 {
  background: url(../images/curve-s-2.png);
  height: 20px;
  width: 6px;
}
.curve-1 {
  background: url(../images/curve-s-1.png);
  height: 20px;
  width: 6px;
}
.reset-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}
.button-search {
  /* margin-left: 16px; */
  background: url(../images/search-bg.png);
  height: 20px;
  width: 40px;
  padding-top: 3px;
}
.button-search a {
  color: #ffffff;
  font-size: 10px;
  /* text-align: center; */
}
.button-search a span {
  text-align: center;
  margin-left: 5px;
}
.btn-search-c1 {
  background: url(../images/btn-search-c1.png);
  height: 20px;
  width: 6px;
  margin-left: 10px;
}
.btn-search-c2 {
  background: url(../images/btn-search-c2.png);
  height: 20px;
  width: 6px;
}
li {
  display: inline-block;
}
a {
  color: inherit;
  text-decoration: none;
}
.p-name {
  text-align: right;
  font-size: 14px;
}
.nav-mini {
  font-size: 10px;
  padding-top: 6px;
}
.nav-mini ul li a:hover {
  text-decoration: underline;
}
.nav-links ul li a:hover {
  text-decoration: underline;
}
.nav-links ul li {
  padding: 0 15px;
}
.nav-links a {
  color: #000000;
  font-weight: bold;
}

.nav-links-2 {
  height: 20px;
}
.friend-request {
  padding: 0 0 0 15px;
}
.topic-box span,
.friend-request span {
  bottom: 3px;
  padding-left: 5px;
}
.left-container {
  background: #f5f5f5;
  width: 194px;
  height: 605px;
}
.left-heading {
  background: #2fc1da;
  /* height: 40px; */
  padding: 12px 12px;
  color: #f5f5f5;
}
.search-contents ul a li {
  width: 100%;
}
.search-contents ul a li:hover {
  background-color: #ffffff;
}
.search-contents ul a li span {
  padding-top: 10px;
  padding: 13px 11px;
}
.search-contents img {
  padding-top: 15px;
  padding-right: 10px;
}
.video-tutorial li {
  height: 35px;
  padding: 11px 13px;
  width: 100%;
}
.video-tutorial li:hover {
  background-color: #ffffff;
}
.right-container {
  background: #f5f5f5;
  width: 176px;
  height: 605px;
}
.middle-container h1 {
  font-size: 26px;
  padding-bottom: 12px;
}
.middle-left {
  background: #f5f5f5;
  width: 248px;
  height: 65px;
  position: relative;
}

.middle-right {
  background: #f5f5f5;
  margin-left: 2px;
  width: 248px;
  height: 65px;
  position: relative;
}
.middle-left-c1 {
  background: url(../images/all-entries-c1.png);
  width: 10px;
  height: 65px;
}
.middle-left-c2 {
  background: url(../images/all-entries-c2.png);
  width: 10px;
  height: 65px;
}
.middle-left h4,
.middle-right h4 {
  text-align: center;
  margin-top: 5px;
}
.all-entries {
  position: absolute;
  bottom: 0;
}
.suscribed {
  position: absolute;
  bottom: 0;
}

.middle-tab-1 {
  background: url(../images/middle-tab-1.png);
  width: 115px;
  height: 28px;
  text-align: center;
  padding-top: 7px;
}
.middle-tab-1 a {
  color: #ffffff;
}
.middle-tab-2,
.middle-tab-3,
.middle-tab-4 {
  background: url(../images/middle-tab-2.png);
  width: 115px;
  height: 28px;
  text-align: center;
  margin-left: 9px;
  padding-top: 7px;
}
.middle-tab-2:hover,
.middle-tab-3:hover,
.middle-tab-4:hover {
  background: url(../images/middle-tab-1.png);
  color: #ffffff;
}

.middle-nav {
  border-bottom: 2px solid #30c2db;
}
.profile-contents h4:hover,
.content-items p a:hover {
  text-decoration: underline;
}

.contents {
  line-height: 15px;
  padding: 15px 0;
  border-bottom: 1px solid #d8d8d8;
}
.contents img {
  margin-right: 10px;
}
footer {
  background: #727272;
  height: 45px;
  padding: 15px 30px;
}
.footer-ul li {
  color: #ffffff;
  padding: 0 5px;
  font-size: 10px;
  height: 15px;
}
.footer-ul li::after {
  content: "•";
  margin-left: 10px;
}
.footer-ul li:last-child::after {
  content: "";
}

.copyright p {
  color: #ffffff;
  font-size: 10px;
}
.profile-contents h4 {
  font-weight: bold;
  margin-bottom: 5px;
}
.tred {
  color: #d53f1d;
  font-weight: bold;
}
.tblack {
  color: #000000;
  font-weight: 500;
}
.tblue {
  color: #4faec0;
  font-weight: bold;
}
.tgreen {
  color: #7b9e30;
  font-weight: bold;
}
.twhite {
  color: #ffffff;
}
